@model YBOInvestigation.Models.YboRecord 

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Create";
}
<div id="spinner-container">
    <img id="spinner" decoding="async" src="~/image/loading/spinner.gif" asp-append-version="true" />
</div>


<div class="d-flex justify-content-center align-item-center pb-4">
    <label class="text-primary h4"> YBO ဖမ်းစီးမှုမှတ်တမ်းအချက်အလက်စာရင်းထည့်သွင်းရန်</label>
</div>
@if (TempData.ContainsKey("Message") && TempData.ContainsKey("CssColor"))
{
    <div class="alert @TempData["CssColor"]"> @TempData["Message"] </div>
}


<div style="background-color: #e1e135ed;" class="row mt-3 border border-dark">

    <div class="d-flex justify-content-center align-item-center p-1">
        <label class="text-black"> စည်းကမ်းထိန်းသိမ်းရေးနှင့် စစ်ဆေးရေးငှာန </label>
    </div>
</div>

<form id="form" asp-action="Create">
    <div class="row mt-1 border border-dark">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="RecordDate" class="control-label"></label>
                <input asp-for="RecordDate" class="form-control" required />
                <span asp-validation-for="RecordDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="VehicleNumber" class="control-label"></label>
                <input asp-for="VehicleNumber" class="form-control" value="@ViewBag.VehicleNumber" readonly />
                <span asp-validation-for="VehicleNumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="DriverName" class="control-label"></label><span id="driverNameLbl" class="text-primary" style="display:none;">အသစ်ထည့်ပါ</span>
                <div class="row">
                    <div id="lstDriverNameDiv"  class="col-10">
                        <select list="datas" id="lstDriverName" name="selectedDriverName" class="form-control" onchange="FillDriverLicenseByDriverName(this, 'driverLicense');" required>
                            <option value="" selected>ရွေးချယ်ပါ</option>
                            @foreach (var i in ViewBag.AutoComplete)
                            {
                                <option value="@i.DriverName">@i.DriverName</option>
                            }
                        </select>
                    </div>
                    <div id="newDriverDiv" class="col-10" style="display:none;">
                        <input class="form-control" name="newDriverName" />
                    </div>
                    <div id="add" class="col" style="cursor:pointer;">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                    <div id="remove" class="col" style="cursor:pointer;display:none;">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <span asp-validation-for="DriverName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="YBSCompanyPkid" class="control-label"></label>
                <select id="lstYBSCompanyId" asp-for="YBSCompanyPkid" class="form-control" asp-items="ViewBag.YBSCompanies" onchange="FillYBSTypesByYBSCompany(this, 'lstYBSTypeId');" required></select>
                <span asp-validation-for="YBSCompanyPkid" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="YBSTypePkid" class="control-label"></label>
                <select id="lstYBSTypeId" asp-for="YBSTypePkid" class="form-control" asp-items="ViewBag.YBSTypes" required></select>
                <span asp-validation-for="YBSTypePkid" class="text-danger"></span>
            </div>
           
            <div class="form-group mt-2">
                <label asp-for="TotalRecord" class="control-label"></label>
                <input asp-for="TotalRecord" class="form-control" required />
                <span asp-validation-for="TotalRecord" class="text-danger"></span>
            </div>           
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group mt-2">
                <label asp-for="YbsRecordSender" class="control-label"></label>
                <input asp-for="YbsRecordSender" class="form-control" />
                <span asp-validation-for="YbsRecordSender" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" required />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="CompletionStatus" class="control-label"></label>
                <select asp-for="CompletionStatus" class="form-control" required>
                    <option value="">ရွေးချယ်ရန်</option>
                    <option value="Complete">ပြီးဆုံး</option>
                    <option value="No">မရှိ</option>
                    <option value="InProgress">ဆောင်ရွက်ဆဲ</option>
                </select>
                <span asp-validation-for="CompletionStatus" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ChallanNumber" class="control-label"></label>
                <input asp-for="ChallanNumber" class="form-control" required />
                <span asp-validation-for="ChallanNumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="CompletedDate" class="control-label"></label>
                <input asp-for="CompletedDate" class="form-control" required />
                <span asp-validation-for="CompletedDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="DriverLicense" class="control-label"></label><span id="driverLicenseLbl" class="text-primary" style="display:none;">အသစ်ထည့်ပါ</span>
                <input id="driverLicense" asp-for="DriverLicense" class="form-control" readonly />
                <span asp-validation-for="DriverLicense" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group mt-2">
            <label asp-for="RecordDescription" class="control-label"></label>
            <textarea asp-for="RecordDescription" class="form-control" required></textarea>
            <span asp-validation-for="RecordDescription" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-center align-item-center mt-3 mb-2">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
