@model YBOInvestigation.Paging.PagingList<YBOInvestigation.Models.VehicleData>

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Search Vehicle";
}
<div class="d-flex justify-content-center align-item-center pb-4">
    <label class="text-primary h4"> မော်တော်ယာဥ်ရှာရန်</label>
</div>

<div class="row mt-3 search-container">
    <div class="col-lg-8">
        <form class="input-group" method="get" action="@Url.Action("SearchVehicle", "YBORecord")">
            
            <div class="col">
                <input list="datas" type="text" class="form-control" name="SearchString" placeholder="[Enter keyword to Search]" style="border-top-left-radius: 25px !important;border-bottom-left-radius: 25px;" autocomplete="off">
                <datalist id="datas">
                    @foreach (var i in ViewBag.AutoComplete)
                    {
                        <option value="@i.VehicleNumber" />
                        <option value="@i.YBSTypeName" />
                    }
                </datalist>
            </div>
            <div class="input-group-append">
                <select class="form-select" name="SearchOption" style="border-top-right-radius: 25px;border-bottom-right-radius: 25px;background-color: #d0d0d075;">
                    <option value="VehicleNumber" selected>ယာဥ်နံပါတ်</option>
                    <option value="YBSTypeName">ယာဥ်အမျိုးအမည်</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div style="background-color: #e1e135ed;" class="row mt-3 border border-dark">
    <div class="d-flex justify-content-center align-item-center p-1">
        @if(!string.IsNullOrEmpty(ViewBag.SearchString)){
            <label class="text-black"> ရှာ‌ဖွေမှုရလဒ်များ </label>
        }else
        {
            <label class="text-black"> ယာဥ်နံပါတ်(သို့)ယာဥ်မျိုးအမည်ဖြင့်ရှာဖွေပါ </label>
        }
    </div>
</div>
@if (Model != null && Model.Any())
{
@foreach (var item in Model)
            {
<div class="row mt-1 border border-dark">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row p-2">
            <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label">ယာဥ်လိုင်း</label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                    @Html.DisplayFor(modelItem => item.YBSName)
            </div>
        </div>
        <div class="row p-2" style="background-color: #c0c0c052;">
            <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label">ယာဥ်အမှတ်</label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                    @Html.DisplayFor(modelItem => item.VehicleNumber)
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row p-2">
                <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label">ယာဥ်အမျိုးအမည်</label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                    @Html.DisplayFor(modelItem => item.YBSType.YBSTypeName)
            </div>
        </div>
        <div class="row p-2" style="background-color: #c0c0c052;">
                <label class="fw-bold col-lg-6 col-md-6 col-sm-4 control-label">ယာဥ်အမျိုးအစား</label>
            <div class="col-lg-6 col-md-6 col-sm-8">
                    @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
            </div>
        </div>
    </div>
        <div class="col d-flex justify-content-center mt-2 mb-2">
            <a class="btn btn-primary rounded-pill" asp-controller="VehicleData" asp-action="Details" asp-route-id="@item.VehicleDataPkid">အသေးစိတ်</a>
        </div>
</div>
}

<br />

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var totalPageNo = Model.TotalPageNo;
    var currentPageNo = Model.PageIndex;
    var searchString = ViewBag.SearchString ?? null;
    var searchOption = ViewBag.SearchOption ?? null;

    <a asp-action="List"
       asp-route-pageNo="@(Model.PageIndex - 1)"
       asp-route-SearchString="@searchString"
       asp-route-SearchOption="@searchOption"
       class="link btn btn-primary btn-sm @prevDisabled">
        Previous
    </a>
    <a asp-action="List"
       asp-route-pageNo="@(Model.PageIndex + 1)"
       asp-route-SearchString="@searchString"
       asp-route-SearchOption="@searchOption"
       class="link btn btn-primary btn-sm @nextDisabled">
        Next
    </a>
    <span>
        Page No : @currentPageNo of @totalPageNo
    </span>
}
else
{
    if(!string.IsNullOrEmpty(ViewBag.SearchString))
    {
        <div class="row mt-3">
            <img class="image-fluid" src="~/image/no-data-found.png" style="height: 300px;width: 1000px;">
        </div>
    }

    else
    {
    <div class="row mt-3">
        <img class="image-fluid" src="~/image/search-vehicle.jpg" style="height: 300px;width: 1000px;">
    </div>    
    }
}